body {
    background-color: #03fca9;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-gap: 15px;
    align-items: center;
    justify-content: center;  
}

.gallery > img {
    width: 100%;
    border: solid black 5px;
    justify-self: center;
}

.gallery > img:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    border: solid black 5px;
}

@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 30%);
    }

    .gallery > img {
        width: 100%;
        border: solid black 3px;
        justify-self: center;
    }


    .gallery > img:first-child {
        grid-column-start: 1;
        grid-column-end: 2;
        border: solid black 3px;
    }
    
}

@media screen and (min-width: 900px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 20%);
    }

    .gallery > img {
        width: 100%;
        border: solid black 3px;
        justify-self: center;
    }

    .gallery > img:last-child {
        grid-column-start: 1;
        grid-column-end: 5;
        border: solid black 5px;
    }

    .gallery > img:first-child {
        grid-column-start: 1;
        grid-column-end: 2;
        border: solid black 3px;
    }
}